@import url("https://fonts.googleapis.com/css?family=Yantramanav:100,300,900");
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Yantramanav", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.8;
  letter-spacing: .7px;
  color: #ffffff;
  background-image: linear-gradient(to right bottom, #282828, #ffffff);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.image {
  width: 10rem;
  height: 10rem;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 4rem; }

.info h3,
.social h3 {
  font-size: 2rem;
  border-bottom: 1px solid #ffffff;
  text-transform: uppercase; }

.info:not(:last-child),
.social:not(:last-child) {
  margin-bottom: 2rem; }

.info-list,
.social-list {
  list-style: none; }

.info-item,
.social-item {
  padding: .4rem 0; }

.skill:not(:last-child),
.experience:not(:last-child),
.education:not(:last-child) {
  margin-bottom: 5rem; }

.skill h3,
.experience h3,
.education h3 {
  font-size: 2rem;
  border-bottom: 1px solid #282828;
  text-transform: uppercase; }

.header {
  text-transform: uppercase;
  line-height: .9;
  margin: 4rem 0; }
  .header .name {
    font-weight: 900;
    font-size: 5rem; }
  .header .position {
    font-weight: 300;
    font-size: 2rem; }

.container {
  max-width: 90rem;
  margin: 2rem auto;
  background-color: #f4f2f2;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.2);
  min-height: 100rem;
  display: flex; }

.sidebar {
  width: 35%;
  padding: 5rem;
  background-color: #282828; }

.main {
  padding: 5rem;
  color: #282828; }
