@import url("https://fonts.googleapis.com/css?family=Yantramanav:100,300,400,900");
@import url("https://fonts.googleapis.com/css?family=Trirong:100,300,400");
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

a {
  color: inherit;
  font-size: inherit; }

body {
  font-family: "Yantramanav", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: .7px;
  color: #ffffff;
  background-image: linear-gradient(to right bottom, #282828, #ffffff);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.image {
  width: 13rem;
  height: 13rem;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #ffffff;
  margin: 0 auto;
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 40.625em) {
    .image {
      background-color: skyblue; } }
  .image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 13rem;
    background-size: cover; }

.info h3,
.social h3 {
  padding: .5rem 0;
  font-size: 1.7rem;
  font-weight: 400;
  border-bottom: 1px solid #ffffff;
  text-transform: uppercase; }

.info:not(:last-child),
.social:not(:last-child) {
  margin-bottom: 2rem; }

.info-list,
.social-list {
  list-style: none;
  padding: 2rem 0; }

.info-item,
.social-item {
  padding: .5rem 0;
  display: flex; }
  .info-item__icon,
  .social-item__icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem; }
  .info-item__icon svg, .info-item img,
  .social-item__icon svg,
  .social-item img {
    width: 2rem;
    height: 2rem;
    fill: #ffffff; }
  .info-item__detail--label,
  .social-item__detail--label {
    font-weight: 400;
    letter-spacing: 1.2px; }
    .info-item__detail--label > a,
    .social-item__detail--label > a {
      color: inherit;
      font-size: inherit;
      text-decoration: none; }
  .info-item__detail--content,
  .social-item__detail--content {
    font-weight: 100;
    font-size: 1.3rem; }

.skill:not(:last-child),
.work:not(:last-child),
.experience:not(:last-child),
.education:not(:last-child) {
  margin-bottom: 2rem; }

.skill h3,
.work h3,
.experience h3,
.education h3 {
  padding: .5rem 0;
  font-size: 1.7rem;
  font-weight: 400;
  border-bottom: 1px solid #282828;
  text-transform: uppercase; }

.header {
  text-transform: uppercase;
  line-height: 1;
  margin: 0 0 3.8rem 0; }
  .header .name {
    font-weight: 900;
    font-size: 4.3rem;
    letter-spacing: 5px; }
    @media only screen and (max-width: 50em) {
      .header .name {
        font-size: 3rem; } }
  .header .position {
    font-weight: 300;
    padding-left: 1rem;
    font-size: 1.7rem;
    letter-spacing: 2px; }

.education-header, .work-header {
  transform: translate(-1.3rem);
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-column-gap: 1.5rem; }
  .education-header__icon, .work-header__icon {
    width: 4rem;
    height: 4rem;
    border: 1px solid #282828;
    border-radius: 50%;
    position: relative; }
    .education-header__icon svg, .work-header__icon svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 2rem; }

.education-list, .work-list {
  list-style: none;
  position: relative; }
  .education-list .education-item, .education-list .work-item, .work-list .education-item, .work-list .work-item {
    overflow: hidden;
    position: relative; }

.education-item, .work-item {
  z-index: 1; }
  .education-item:first-child, .work-item:first-child {
    padding-top: 2rem;
    margin-top: .5rem; }
  .education-item:last-child .education-item__block, .work-item:last-child .education-item__block, .education-item:last-child .work-item__block, .work-item:last-child .work-item__block {
    position: relative;
    overflow: hidden; }
  .education-item__block, .work-item__block {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 3rem;
    border: 2px solid #282828;
    background-color: #ffffff;
    border-radius: 50%;
    float: left; }
    .education-item__block::after, .work-item__block::after {
      position: absolute;
      z-index: -1;
      content: '';
      width: 0;
      border: 1px solid #282828;
      height: 100%;
      top: 0;
      left: .5rem; }
  .education-item__content, .work-item__content {
    font-family: "Trirong", serif;
    display: grid;
    grid-template-columns: 8rem 1fr;
    margin-bottom: 2rem; }

.btn-switch {
  margin-left: auto;
  font-size: 1rem;
  position: relative;
  width: 5.4rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.btn-switch__radio {
  display: none; }

.btn-switch__label {
  display: inline-block;
  padding: .75rem .5rem .75rem .75rem;
  vertical-align: top;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
  cursor: pointer;
  transition: color .2s ease-in-out; }

.btn-switch__label + .btn-switch__label {
  padding-right: .7rem;
  padding-left: 0; }

.btn-switch__txt {
  font-weight: 300;
  position: relative;
  z-index: 2;
  display: inline-block;
  min-width: 1.5rem;
  opacity: 1;
  pointer-events: none;
  transition: opacity .2s ease-in-out; }

.btn-switch__radio_no:checked ~ .btn-switch__label_yes .btn-switch__txt,
.btn-switch__radio_yes:checked ~ .btn-switch__label_no .btn-switch__txt {
  opacity: 0; }

.btn-switch__label:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ccc;
  border-radius: 1.5rem;
  box-shadow: inset 0 0.0715rem 0.3572rem rgba(43, 43, 43, 0.05);
  transition: background .2s ease-in-out; }

.btn-switch__radio_yes:checked ~ .btn-switch__label:before {
  background: #ccc; }

.btn-switch__label_no:after {
  content: "";
  position: absolute;
  z-index: 2;
  top: .5rem;
  bottom: .5rem;
  left: .5rem;
  width: 2rem;
  background: #fff;
  border-radius: 1rem;
  pointer-events: none;
  box-shadow: 0 0.1429rem 0.2143rem rgba(43, 43, 43, 0.2), 0 0.3572rem 0.3572rem rgba(43, 43, 43, 0.1);
  transition: left .2s ease-in-out, background .2s ease-in-out; }

.btn-switch__radio_yes:checked ~ .btn-switch__label_no:after {
  left: calc(100% - 2.5rem);
  background: #fff; }

.btn-switch__radio_no:checked ~ .btn-switch__label_yes:before,
.btn-switch__radio_yes:checked ~ .btn-switch__label_no:before {
  z-index: 1; }

.btn-switch__radio_yes:checked ~ .btn-switch__label_yes {
  color: #fff; }

.btn-switch__radio_yes:checked + div.--th {
  display: none; }

.container {
  max-width: 90rem;
  margin: 3rem auto;
  background-color: #f4f2f2;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.2);
  min-height: 100rem;
  display: flex; }
  @media only screen and (max-width: 40.625em) {
    .container {
      max-width: 100%;
      margin: 0;
      flex-direction: column; } }

.sidebar {
  width: 35%;
  padding: 5rem;
  background-color: #282828; }
  @media only screen and (max-width: 40.625em) {
    .sidebar {
      width: 100%; } }

.main {
  padding: 5rem;
  color: #282828; }
  @media only screen and (max-width: 40.625em) {
    .main {
      padding: 0 5rem 5rem; } }
