.image {
  width: 10rem;
  height: 10rem;
  background-color: white;
  border-radius: 50%;
  border: 1px solid $color-white;
  margin: 0 auto;
  margin-bottom: 4rem;
  position: relative;
  overflow: hidden;

  @include respond(phone) {
    background-color: skyblue;
  }
  
  img {
    @include position-center;
    height: 10rem;
    background-size: cover;
  }
}

.info,
.social {
  h3 {
    padding: .5rem 0;
    font-size: 1.7rem;
    font-weight: 400;
    border-bottom: 1px solid $color-white;
    text-transform: uppercase ;
  }

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &-list {
    list-style: none;
    padding: 2rem 0;
  }

  &-item {
    padding: .5rem 0;
    display: flex;

    &__icon {
      width: 2rem;
      height: 2rem;
      // background-color: $color-grey-dark-1;
      margin-right: 1rem;
    }

    &__icon > svg,img {
      width: 2rem;
      height: 2rem;
      fill: $color-white;
    }

    &__detail {
      &--label {
        font-weight: 400;
        letter-spacing: 1.2px;
      }
      &--content {
        font-weight:100;
        font-size: 1.3rem;
      }
    }
  }
}

// ----- SKILLS, EXPERIENCE, EDUCATION, WORK COMPONENT -----
.skill,
.work,
.experience,
.education {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  h3 {
    padding: .5rem 0;
    font-size: 1.7rem;
    font-weight: 400;
    border-bottom: 1px solid $color-primary;
    text-transform: uppercase ;  
  }
}

.header {
  text-transform: uppercase;
  line-height: 1;
  margin: 3.8rem 0;

  .name {
    font-weight: 900;
    font-size: 5rem;
    letter-spacing: 5px;
  }

  .position {
    font-weight: 300;
    font-size: 1.7rem;
    letter-spacing: 2px;
  }
}

// ----- EDUCATON, WORK COMPONENT -----
// header
.education-header, .work-header {
  transform: translate(-1.3rem);
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-column-gap: 1.5rem;

  &__icon {
    width: 4rem;
    height: 4rem;
    border: 1px solid $color-primary;
    border-radius: 50%;
    position: relative;

    svg {
      @include position-center;
      height: 2rem;
    }
  }
}
// list
.education-list, .work-list {
  list-style: none;
  position: relative;

  .education-item, .work-item {
    overflow: hidden;
    position:relative;
  }
}

.education-item, .work-item {
  z-index: 1;

  &:first-child {
    padding-top: 2rem;
    margin-top: .5rem;
  }

  &:last-child &__block{
    position: relative;
    overflow:hidden;
  }

  &__block {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 3rem;
    border: 2px solid $color-primary;
    background-color: $color-white;
    border-radius: 50%;
    float: left;

    &::after {
      position: absolute;
      z-index: -1;
      content: '';
      width: 0;
      border: 1px solid $color-primary;
      height: 100%;
      top: 0;
      left: .5rem;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 8rem 1fr;
    margin-bottom: 2rem;
  }
}