.container {
  max-width: 90rem;
  margin: 2rem auto;
  background-color: $color-grey-light-2;
  box-shadow: $shadow-dark;

  min-height: 100rem;
  display: flex;
}

.sidebar {
  width: 35%;
  padding: 5rem;
  background-color: $color-primary;
}

.main {
  padding: 5rem;
  background-color: salmon;
}