// flex-container
.body {
  max-width: 90rem;
  margin: 3rem auto;
  background-color: $color-grey-light-2;
  box-shadow: $shadow-dark;
  min-height: 100rem;
  display: flex;

  @include respond(phone){
    max-width: 100%;
    margin: 0;
    flex-direction: column;
  }

  @include respond(tab-port) {
    margin: 0;
  }

  // flex-item
  &__side {
    min-width: 30%;
    padding: 5rem 0 5rem 5rem;
    background-color: $color-primary;

    @include respond(tab-port) {
      min-width: 35%;
      padding: 3rem 0 3rem 3rem;
    }

    @include respond(phone){
      width: 100%;
      padding: 3rem 3rem;
    }
  
  }
  
  // flex-item
  &__main {
    padding: 8rem 5rem 5rem;
    color: $color-primary;
    @include respond(phone){
      padding: 3rem 3rem;
    }
  }

}

